.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  --numberOfDiscoverColumns: 1;
  --discoverColumnPadding: 30px;
}
@media only screen and (min-width: 700px) {
  html {
    --numberOfDiscoverColumns: 2;
    }
  }
  @media only screen and (min-width: 900px) {
    html {
      --numberOfDiscoverColumns: 3;
      }
  }
  @media only screen and (min-width: 1040px) {
    html {
      --numberOfDiscoverColumns: 4;
      }
  }
  @media only screen and (min-width: 1240px) {
    html {
    --numberOfDiscoverColumns: 5;
    }
  }

  @keyframes top-e {
    from {
      top: 0;
      display: fixed;
    }
    to {
      top: -64px;
    }
  }